@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="list-group">
    <div class="list-group-item profile">
        <div class="avatar">
            <img src="~/Content/Images/avatar/ZW.png" class="avatar-img" />
            <h5>郑玮</h5>
        </div>
        <p class="list-group-item-text">
            <span class="glyphicon glyphicon-screenshot ico"></span>CEO，安卓开发。<br />
        </p>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item profile">
        <div class="avatar">
            <img src="~/Content/Images/avatar/HFR.png" class="avatar-img" />
            <h5>胡斐然</h5>
        </div>
        <p class="list-group-item-text">
            <span class="glyphicon glyphicon-screenshot ico"></span>后台与数据库总工程师。<br />
        </p>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item profile">
        <div class="avatar">
            <img src="~/Content/Images/avatar/WKH.png" class="avatar-img" />
            <h5>万宽红</h5>
        </div>
        <p class="list-group-item-text">
            <span class="glyphicon glyphicon-screenshot ico"></span>Web开发，前端交互。<br />
        </p>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item profile">
        <div class="avatar">
            <img src="~/Content/Images/avatar/KWJ.png" class="avatar-img" />
            <h5>孔惟洁</h5>
        </div>
        <p class="list-group-item-text">
            <span class="glyphicon glyphicon-screenshot ico"></span>脑洞极大的乐天派，市场与运行总监。<br />
        </p>
    </div>
</div>