@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="list-group">
    <div class="list-group-item">
        <h3 class="list-group-item-heading">虚位以待</h3>
        <p class="list-group-item-text">
            <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;联系我们<a href="mailto:god@citygee.com">god@citygee.com</a>
        </p>
    </div>
</div>
