@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item active">
        <h3 class="list-group-item-heading">2015年3月</h3>
        <p class="list-group-item-text">我们创建了老房子网站</p>
    </a>
</div>
<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item">
        <h3 class="list-group-item-heading">2015年5月</h3>
        <p class="list-group-item-text">老房子更名为城迹</p>
    </a>
</div>
<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item">
        <h3 class="list-group-item-heading">2015年7月</h3>
        <p class="list-group-item-text">城迹安卓APP（测试版）发布</p>
    </a>
</div>